*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  color: #fff;
  background-color: #171717; }

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem; }

.section-padding {
  padding: 9.6rem 0; }

.margin-bottom {
  margin-bottom: 9.6rem; }

.navigation {
  background-color: #171717; }
  .navigation__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    max-width: 130rem; }
  .navigation__list {
    display: flex;
    gap: 3rem;
    list-style: none; }
  .navigation__item {
    display: inline-block; }
  .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.6rem;
    letter-spacing: 3px;
    transition: color 0.2s; }
  .navigation__link:hover, .navigation__link:active {
    color: #cccccc; }

.header {
  position: relative;
  background-image: linear-gradient(rgba(33, 33, 33, 0.3), rgba(33, 33, 33, 0.3)), url("./../img/hero.webp");
  background-size: cover;
  height: 85vh; }
  .header__container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 130rem;
    transform: translate(-50%, -50%); }
  .header__text {
    width: 40%;
    text-align: left; }
  .header__heading {
    font-size: 6.2rem;
    line-height: 1.2;
    letter-spacing: 3px;
    font-weight: 400;
    text-transform: uppercase; }
  .header__special {
    color: #ffe066; }
  .header__link:link, .header__link:visited {
    display: inline-block;
    margin-top: 4rem;
    font-size: 1.4rem;
    text-decoration: none;
    color: currentColor;
    text-transform: uppercase;
    transition: color 0.2s; }
  .header__link:hover, .header__link:active {
    color: #cccccc; }

.offer__image-box {
  display: flex;
  justify-content: center; }

.offer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 1.5fr 1fr;
  justify-items: center; }

.offer__image {
  grid-column: 1 / -1;
  align-items: center; }

.offer__gallery {
  width: 100%;
  height: 140%;
  justify-items: stretch;
  opacity: 0.5;
  mix-blend-mode: exclusion; }

.offer__box {
  position: relative; }

.offer__text, .offer__text--special {
  position: absolute;
  top: 65%;
  left: 15%;
  z-index: 10;
  font-size: 10rem;
  transform: rotate(270deg) translate(-50%, -50%);
  opacity: 0.5;
  text-transform: uppercase; }

.offer__text--special {
  left: -10%; }

.offer__description {
  position: absolute;
  bottom: -30%;
  left: 25%;
  font-size: 1.6rem;
  line-height: 1.6;
  opacity: 0.8;
  letter-spacing: 0.5px; }
