.header {
	position: relative;
	background-image: linear-gradient(
			rgba(33, 33, 33, 0.3),
			rgba(33, 33, 33, 0.3)
		),
		url('./../img/hero.webp');
	background-size: cover;
	height: 85vh;
	&__container {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 130rem;
		transform: translate(-50%, -50%);
	}
	&__text {
		width: 40%;
		text-align: left;
	}
	&__heading {
		font-size: 6.2rem;
		line-height: 1.2;
		letter-spacing: 3px;
		font-weight: 400;
		text-transform: uppercase;
	}
	&__link:link,
	&__link:visited {
		display: flex;
		align-items: center;
		margin-top: 4rem;
		font-size: 1.4rem;
		text-decoration: none;
		color: currentColor;
		text-transform: uppercase;
		transition: color $animation-time;
	}
	&__link:hover,
	&__link:active {
		color: $color-darker-white;
	}
	&__icon {
		margin-left: 0.5rem;
	}
}
