.offer {
	padding: 9.6rem 0 0 0;
	&__image-box {
		display: flex;
		justify-content: center;
	}
	&__container {
		display: grid;
		grid-template-columns:
			repeat(3, 1fr)
			1.5fr 1fr;
		justify-items: center;
	}
	&__image {
		grid-column: 1 / -1;
		align-items: center;
	}
	&__gallery {
		width: 100%;
		height: 100%;
		justify-items: stretch;
		opacity: 0.5;
		mix-blend-mode: exclusion;
	}
	&__box {
		position: relative;
	}

	&__text,
	&__text--special {
		position: absolute;
		top: 25%;
		left: 15%;
		z-index: 10;
		font-size: 10rem;
		transform: rotate(270deg) translate(-50%, -50%);
		opacity: 0.5;
		text-transform: uppercase;
	}
	&__text--special {
		left: -10%;
	}
	&__description {
		position: absolute;
		bottom: 10%;
		left: 25%;
		font-size: 1.6rem;
		line-height: 1.6;
		opacity: 0.8;
		letter-spacing: 0.5px;
	}
}
