.offer {
	padding: 9.6rem 0 0 0;
	&__image-box {
		display: flex;
		justify-content: center;
	}
	&__container {
		display: grid;
		grid-template-columns:
			repeat(2, 1fr)
			1.5fr 1fr;
		justify-items: center;
	}
	&__image {
		grid-column: 1 / -1;
		align-items: center;
	}
	&__gallery {
		width: 100%;
		height: 100%;
		justify-items: stretch;
		opacity: 0.5;
		mix-blend-mode: exclusion;
	}
	&__box {
		position: relative;
	}

	&__text,
	&__text--special {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 10;
		font-size: 8rem;
		transform: translate(-50%, -50%) rotate(90deg);
		opacity: 0.5;
		text-transform: uppercase;
	}
	&__text--special {
		left: 10%;
	}
	&__description {
		position: absolute;
		bottom: 3%;
		left: 50%;
		width: 80%;
		transform: translate(-50%, -50%);
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 1.6;
		opacity: 0.8;
		letter-spacing: 0.5px;
	}
}

@media (max-width: $smaller-dekstop) {
	.offer {
		&__text,
		&__text--special {
			font-size: 8rem;
		}
		&__text--special {
			font-size: 8rem;
			opacity: 0.15;
		}
		&__description {
			bottom: 0%;
			line-height: 1.4;
			font-size: 1.5rem;
		}
	}
}

@media (max-width: $tablet) {
	.offer {
		&__container {
			grid-template-columns: 1fr 1fr;
		}
		&__gallery {
			width: 100%;
			height: 100%;
			justify-items: stretch;
			opacity: 0.5;
			mix-blend-mode: exclusion;
		}
		&__image {
			width: 50%;
		}
	}
}

@media (max-width: $phone) {
	.offer {
		&__container {
			grid-template-columns: 1fr;
		}
		&__gallery {
			width: 100%;
			height: 100%;
			justify-items: stretch;
			opacity: 0.5;
			mix-blend-mode: exclusion;
		}
		&__image {
			width: 50%;
		}
	}
}
